<div class="md-2" style="padding: 10px;">
    <div class="card-body text-muted text-center">
        <ul class="list-group">
            {% for queryField in prodPlusVendus %}
            <a href="{{ queryField.produit.visuel }}">
                <li class="list-group-item text-center clickable top-produit">
                    <img src="/{{ queryField.produit.visuel }}" style="height: 40px;">
                    <p class="top-produit">{{ queryField.produit.libelle }}<br><i>
                            {{ queryField.totalVentes }}
                            vente(s)</i>
                    </p>
                </li>
            </a>
            {% endfor %}
        </ul>
    </div>
</div>

